.data-panel {
    display: grid;
    grid-template-columns: 55% 40%;
    grid-gap: 1.7rem;
    
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    margin-bottom: 0;
}