.gallery {
    background-color: #F9F5E3;
    width: auto;
    border-radius: 7px;
    display: flex;
}

img {
    height: 300px;
    width:300px;
    margin: auto;
    opacity: 0;
    transition: opacity 0.5s; 
}

img.loaded {
    opacity: 1;
  }