.stats {
    width: 95%;
    text-align: start;
    padding: 1rem 2rem;
    text-transform: capitalize;
    color: gray;
    border-radius: 7px;
    margin-top: 0 !important;
    margin-bottom: 14px !important;
}

h3 {
    text-align: center;
}