#root {
  width: 100%;
}


.app {
  background-color: #313D5A;
  min-width: 1280px;
  width: 100%;
  background: url('https://images.unsplash.com/photo-1638613067237-b1127ef06c00?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80') no-repeat fixed;
  background-size: cover;
  min-height: 150vh;
}

.ui.segment {
  opacity: 0.90;
}

.button {
  opacity: 1;
}

.ui.container {
  margin-bottom: 5rem;
}
